<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Your account already has wallet</h2>
        <p>You can use wallet in to your account using your credentials</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>