@using eCommerceTicketsWebApplication.DTOS
@model DepositDTO

@{
    ViewData["Title"] = "Deposit money";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Deposit Money</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Deposit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Deposit" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>