<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You can not perform transaction with negative amount</h2>
        <p>You need to input different numeric value to complete the operation, thank you!</p>
    </div>
</div>