<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Not Enough money on balance</h2>
        <p>You need to fill wallet to complete order, thank you!</p>
    </div>
</div>