@using System.Web.Optimization;
@using DataTables;

@{
    ViewData["Title"] = "All transactions";
}

<h2>Transactions History</h2>

<table id="transactions" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Current Balance</th>
            <th>User Id</th>
            <th>Transaction Status</th>
        </tr>
    </thead>

    <tbody>
    </tbody>

    <tfoot>
        <tr>
            <td>Id</td>
            <td>Amount</td>
            <td>Current Balance</td>
            <td>User Id</td>
            <td>Transaction Status</td>
        </tr>
    </tfoot>
</table>

@*<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />*@

@section scripts {

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

    <script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            var table =
                $('#transactions').DataTable(
                    {
                        "ajax": {
                            "url": "TransactionHistory",
                            "type": "GET",
                            "datatype": "json"
                        },

                        columns: [
                            { data: 'id' },
                            { data: 'amount' },
                            { data: 'currentBalance' },
                            { data: 'userId' },
                            { data: 'transactionStatus' }
                        ]

                    });


        });
    </script>
}
