@*@using eCommerceTicketsWebApplication.DTOS
@model IEnumerable<TransactionHistoryDTO>*@

@{
    ViewData["Title"] = "All transactions";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Transaction History</h4>
        </p>

        <table id="transactionHistory" class="display">
            <thead>
                <tr>
                    <th>TransactionId</th>
                    <th>UserId</th>
                    <th>Amount</th>
                    <th>CurrentBalance</th>
                    <th>TransactionType</th>
                    <th>TransactionStatus</th>
                </tr>
            </thead>
        </table>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"> </script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

        @section scripts{
            <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#transactionHistory').DataTable({
                        "ajax": {
                            "url":"/Transactions/TransactionHistory",
                            "type":"GET",
                            "datatype":"json"
                        },
                        "columns":[
                            { "data": "TransactionId" },
                            { "data": "UserId" },
                            { "data": "Amount" },
                            { "data": "CurrentBalance" },
                            { "data": "TransactionType" },
                            { "data": "TransactionStatus" }
                        ]
                    });
                });
            </script>
        }

    </div>
</div>