<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You entered wrong Email</h2>
        <p>Check your account credentials, thank you!</p>
    </div>
</div>